




body{
margin: 0;
padding: 0;
display: flex;
justify-content:center;
align-items: center;
height: 100vh;

font-family:consolas;
}
.btn-neon{
    position: unset;
    display: inline-block;
    padding: 15px 30px;
    color: rgb(209, 250, 114);
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #ca982d;
    box-shadow: 0 0 36px #fbff00;;
    transition: delay 0.5em;
    position: center;

}
